{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <h1 class="uk-heading-line"><span>Experiments</span></h1>
    <div uk-grid>
        <div class="uk-width-1-3">
            <div class="uk-card uk-card-default uk-card-body">1-3</div>
        </div>
    </div>
{% endblock %}


{% block includes %}
    <!-- js includes -->
    <script type="text/javascript">
        var lastRequestUri = '{{lastRequestUri}}';
    </script>
{% endblock %}
