<div uk-grid>

    <div class="uk-width-1-4">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 631.51 597.54">
           <defs>
              <style>.cls-1{fill:#f7931e;stroke:#000;stroke-miterlimit:10;}</style>
           </defs>
           <title>test</title>
           <clipPath id="boom-clip">
               <path class="cls-1" d="M1085.12,203.14c-12.29-22.54-18.85-47.84-31.13-70.39a541.19,541.19,0,0,0-13.64,77.56c-8.28-13.38-26.69-19.41-41.27-13.51l13.73,13.76-87.53,45.23a740,740,0,0,0,74,23.27L898.68,333.12c-10.75,5.77-23,14.1-22.48,26.29a214.79,214.79,0,0,1,94.67-32.93c24.4-2.4,50.27-.24,71.12,12.66s35.09,38.53,29,62.28c-1.35-5.56-9.31-5.23-14.83-3.71a407.74,407.74,0,0,1-171.35,9.53A88.31,88.31,0,0,1,872.07,479a274.72,274.72,0,0,1,152.64,10.8,65.06,65.06,0,0,0-4.81,44.36c-13.65-9.67-33.43-9.65-47.06.05l46.55,2.94a886.08,886.08,0,0,1-67.56,75.44l54-19.87a518.67,518.67,0,0,0-25.44,64.06c-1.15,3.57-2.26,7.45-1.07,11,2.66,7.92,14.11,8.19,21.62,4.52s14.4-9.82,22.75-9.78c14.85.08,21.56,17.86,28.63,30.91,1.84,3.39,4.24,6.88,7.93,8,8,2.4,13.93-7.19,16.73-15l31.45-88q12.48,19.8,25.58,39.2c1.62,2.4,3.57,5,6.43,5.42,4.93.73,8-5.16,9.21-10a193.45,193.45,0,0,0,6-40.9c.28-7.41.58-15.84,6.24-20.63,3.54-3,8.4-3.81,13-4.49l30-4.47c17.9-2.66,40.38-10.11,41.05-28.19.73-19.64-26.95-35.2-19.51-53.4,3.08-7.54,11.22-11.49,18.7-14.74Q1301.25,441.83,1358,419a23.13,23.13,0,0,0-16.68-4.45,1081.55,1081.55,0,0,0,115.94-23.47q-65.39-8.75-131.34-12.3c42.77-35.92,105.75-34.68,154.57-61.82,2.37-1.32,4.85-2.87,5.9-5.37,2.62-6.27-5.18-11.66-11.62-13.81-36.92-12.34-76.07-16-114.82-19.68L1500.1,223c-78-3.77-154.39,20-228.86,43.54L1222.54,282c41.63-49.71,109.54-70.75,153.13-118.75-12.54-9.06-29.87-6.43-44.72-2.08A261.5,261.5,0,0,0,1244,205.66c-1.82-22.39-5.1-45.28-16.06-64.89s-31.11-35.45-53.57-35.49a280.67,280.67,0,0,0,11.76,104.14C1176,173.9,1162,133.88,1127.76,120a777.63,777.63,0,0,0,27.33,109.43L1140,210c1.84,6.07,14.91,35.06,12,40-3.36,5.67-11.38-.42-16.94-2.68C1112.69,238.3,1096.79,224.53,1085.12,203.14Z" transform="translate(-870.94 -104.78)"/>
           </clipPath>
           <image clip-path="url(#boom-clip)" height="100%" x="-300" xlink:href="https://media.giphy.com/media/MPsR8AWZjPchW/giphy.gif">
        </svg>
    </div>
</div>
